@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --container-width: calc(1172px + var(--container-padding) * 2);
  --container-padding: 15px;

  --font-main: 'Lato', sans-serif;
  --font-accent: 'Raleway', serif;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;

  --text-active: #42a9ed;
  --text-nav-hover: #43abf0;
  --text-blue: #1677ff;

  --text-dark-gray: #2a2b30;
  --text-gray: #c3c3c3;
  --text-light-gray: #bbbbbb;
  --dots-gray: #bbbbbb;

  --white: #fff;
  --black: #000;

  --border-gray: #6f6d7b;
  --border-blue: #286690;

  --input-text: #272733;

  --bg-header-transp: rgba(16, 16, 29, 90%);
  --bg-header: rgba(16, 16, 29);
  --bg-footer: #3d4050;
}
